<div class="max-w-3xl mx-auto">
  <h1 class="text-3xl font-bold text-job-blue-dark mb-8"><%= t("jobs.post_new") %></h1>

  <div class="bg-white rounded-lg shadow-md p-8">
    <%= render "form", job: @job %>
  </div>
</div>
